
/* Page Container */
.page-container-tarot-card {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 5rem;
}

/* Header */
.header-tarot-card {
    padding: 2rem;
}

.header-tarot-card__title {
    color: var(--light-shade);
}


/* Cards Container */
.cards {
    padding: 2rem;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    gap: 2rem;
    margin-bottom: 4rem;
}

.card {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    height: 500px;
    perspective: 1000px;
    
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(180deg)
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
   
}

.card__face--front {
    background: url(../background/AdobeStock_579700874.png);
    background-size: cover;
    background-position: center;
    
}


.card__face--back {
    background: url(../background/AdobeStock_565642794.png);
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
}


.card__content {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    justify-content: center;
}

.card__header {
    position: relative;
}

.card__body {
    padding: 2rem;
    background-color: var(--light-shade);
    height: 50%;
    align-self: center;
    border-radius: 1rem;
    overflow-y: auto;
}

.card__header::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.view-saved-reading-btn,
.save-reading-btn {
    width: 175px;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 150ms;
}

.view-saved-reading-btn,
.save-reading-btn {
    margin: 2rem auto;
    display: block;
}



.view-saved-reading-btn:hover,
.save-reading-btn:hover,
.save-reading-btn:active,
.view-saved-reading-btn:active {
    color: var(--light-shade);
    border-color: var(--green-light-accent);
    background-color: var(--green-light-accent);
}


.view-saved-reading-btn .icon-btn,
.save-reading-btn .icon-btn {
    padding-right: 0.75rem;
}



/* Media Queries */

/* Extra Small */
@media only screen and (max-width: 576px) {
    
}

/* Small */
@media only screen and (min-width: 576px) {
    
}

/* Medium */
@media only screen and (min-width: 768px) {
    .cards {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }
}

/* Large */
@media only screen and (min-width: 992px) {
    .header-tarot-card__title {
        font-size: 4.8rem;
    }
}

/* Extra Large */
@media only screen and (min-width: 1200px) {
    
}

/* Extra Extra Large */
@media only screen and (min-width: 1440px) {
    
}
